@charset="utf-8";
body{
	background: #f3f1f1;
}
.windw{
	width:90vw;
	margin:3vw auto;
	overflow: hidden;
	background: #fff;
	margin-top:16vw;
	box-shadow: 0 4px 1px 1px #efb0b9;
	border-radius:3vw;
	-webkit-border-radius:3vw;
	-o-border-radius:3vw;
	-moz-border-radius:3vw;
	position:relative;
}
.shoucang{
	position:absolute;
	right:4vw;
	top:4vw;
	width:7vw;
	height:7vw;
	display:block;
	background:url(../images/newxq/2.png) no-repeat center center;
	background-size: 100%
}
.acc{
	background:url(../images/newxq/22.png) no-repeat center center;
	background-size: 100%
}
.wincon{
	width: 95vw;
	overflow-y: auto;
}
.Allcon::-webkit-scrollbar {
	display: none;
}

.Allcon{
	width:90vw;
	background: #fff;
}
.bokxq{
	width:80vw;
	margin:0 auto;
	background: #fff;
}
.b_pic{
	width:30vw;
	margin:3vw auto;
	margin-top:8vw;
}
.b_pic img{
	width:100%;
}
.bk_xx{
	width:80vw;
}
.bk_xx p{
	color:#333;
	text-align: center;
}
.bookname,.bookleader{
	font-size:3.8vw;
}
.b_xq{
	width:80vw;
	margin:2vw auto;
}
.b_xq p{
	color:#a7a7a7;
}
.morebtn{
	color:#f83553;
	float:right;
	margin:0;

}

.u_ul{
	width:36vw;
	height:7vw;
	margin:0 auto;
	margin-top:8vw;
	overflow:hidden;
	border:1px solid #f83553;
	border-radius:2vw;
	-webkit-border-radius:2vw;
	-o-border-radius:2vw;
	-moz-border-radius:2vw;
}
.u_ul p{
	width:18vw;
	height:8vw;
	float:left;
	color:#a7a7a7;
	line-height: 8vw;
	text-align:center;
	font-size:3.4vw;
}
.u_ul p.att{
	color:#fff;
	background: #f83553;
}
.position{
	width:80vw;
	margin:5vw auto;
	color:#a7a7a7;
}
.position p{
	color:#a7a7a7;
	width:100%;
	border-bottom: 1px solid #f3f1f1;
	line-height:6vw;
	padding-top: 2vw;
}
.address{
	width:80vw;
	// height:6vw;
	overflow:hidden;
	line-height:6vw;
	border-bottom: 1px solid #f3f1f1;
}
.address .opt{
	display:block;
	padding-top:2vw;

	width:20vw;

	float:left;
}
.sda{
		width:60vw;
		float:left;
	
}
.sda p{

	border-bottom:none;
}


.Btn{
	width:30vw;
	height:8vw;
	line-height:8vw;
	background: -webkit-linear-gradient(left, #fba094 , #f8647a);
    background: -o-linear-gradient(right, #fba094, #f8647a);
    background: -moz-linear-gradient(right, #fba094, #f8647a);
    background: linear-gradient(to right, #fba094 , #f8647a);
	margin:8vw auto;
	text-align:center;
	border-radius: 7vw;
	-webkit-border-radius: 7vw;
	-o-border-radius: 7vw;
	-moz-border-radius: 7vw;
}
.Btn a{
	color:#fff;
	font-size:4.8vw;
	display:block;
}
.pos2{
	position:relative;
}
.pos2 p.kong{
	width:80vw;
	color:#ebe7e7;
	text-align:center;
	border:none;
}
