@charset="utf-8";
body{
	background: #f3f1f1;
}
.bk_tit1{
	margin-top:13vw;
}
.bokxq{
	width:95vw;
	margin:0 auto;
	overflow:hidden;
	padding:3vw 0;
	
}
.bk_tit{
	text-align:center;
	height:10vw;
	line-height:10vw;
	font-size:4vw;
	color:#656565;
	background: #fff;
	border:1px solid #f3f1f1;
}
.bokxq .b_pic{
	width:20vw;
	display:block;
	float:left;
	margin:0 5vw;
}
.bokxq .b_pic img{
	width:100%;
	height: 100%;	
}
.b_con{
	float:left;
	padding:1vw 0;
	color:#656565;
}
.b_con p{
	height:8vw;
	line-height:8vw;
}
.bookname{
	color:#f85050;
	font-size:3.6vw;
}
.position{
	width:80vw;
	margin:0 auto;
	margin-bottom: 10vw;
	padding:3vw 0;
}
.pb_con p{
	height:10vw;
	line-height:10vw;
	color:#656565;
}
.pb_con p span{
	margin-left: 5vw;
	color:#656565;
}
.pb_con p span input{
	color:#656565;
}
.pb_con p .sta{
	
	font-size:3.6vw;
	color:#1e996e;

}
.pb_con p span.y_time{
	position:relative;
	color:#f85050;
	font-size:4vw;
}
.pb_con p span.y_time i{
	position:absolute;
	top:0.5vw;
	right: 1vw;
	z-index: -1;
}
.pb_con p span input{
	width:35vw;
	border:none;
	background: transparent;
}
.qian{
	width:83vw;
	padding-left:7vw;
	margin:3vw auto;
	height:8vw;
	line-height:8vw;
	position:relative;
	color:#f36610;
}
.qian input{
	display:inline-block;
	position:absolute;
	top:0 ;
	bottom: 0;
	left:0vw;
	margin:auto;
}

.Btn{
	width:50vw;
	height:10vw;
	line-height:10vw;
	background: #f85050;
	margin:0 auto;
	margin-bottom:4vw;
	text-align:center;
	border-radius: 7vw;
	-webkit-border-radius: 7vw;
	-o-border-radius: 7vw;
	-moz-border-radius: 7vw;
}
.Btn a{
	color:#fff;
	font-size:5vw;
	display:block;
}

.outer-container{
	width:0vw;
	height:0vw;
	position: relative;
	overflow: hidden;
	left:0;
	right:0;
	top:25vw;
	margin:auto;
	border-radius:3vw;
	-o-border-radius:3vw;
	-webkit-border-radius:3vw;
	-moz-border-radius:3vw;
	box-shadow: 0px 0px 3px 3px #6d6c6c;
}
.cale{
	width:80vw;
	height:120vw;
	z-index:2;
	background: #fff;
	position:absolute;
	left:0;
	right:0;
	margin:auto;
	border-radius:3vw;
	-o-border-radius:3vw;
	-webkit-border-radius:3vw;
	-moz-border-radius:3vw;
	overflow-y: scroll;
}
.cale::-webkit-scrollbar {
		    display: none;
		}
.cale .close{
	position:absolute;
	font-size:5vw;
	color:#fa8a47;
	top:3vw;
	right:4vw;

}
 .cla_con{
    	width: 72vw;
    	margin:0 auto;
    	margin-top :4vw;
    }
    .cla_tit{
    	text-align: center;
    	height: 8vw;
    	line-height: 8vw;
    	font-size: 4vw;
    	color:#333;
    }
    .cla_txt{
    	margin-top :5vw;
    }
    .cla_txt p{
    	line-height: 6vw;
    	margin-top: 1vw;
    	color:#888;
    	font-size: 3.5vw;
    	text-indent: 7.2vw;
    }