@charset="utf-8";
.top{
	width: 95vw;
	height: 13vw;
	line-height: 13vw;
	margin: 0 auto;
	padding: 0 2.5vw;
	background: #fff;
	position:fixed;
	z-index:999;
	top:0;
}
.top p{
	width:85vw;
	float:left;
	height:13vw;
	font-size: 5.4vw;
	color:#666;
	text-align: center;
}
.top span{
	width:5vw;
	height:13vw;
	color:#666;
	text-align:center;
}
.top span a{
	color:#666;
	display: block;
}
.top span:first-child{
	float:left;
	font-size: 8vw;
	
}
.top span:last-child{
	float:right;
	font-size: 5vw;
	position:relative;
}